{% extends "base.html" %}


{% block breadcrumb_links %}
  {{ super() }}
  <li class="breadcrumb__item"><a href="{{ url_for('main.profile') }}">Profile</a></li>
  <li class="breadcrumb__item">Add SSH key</li>
{% endblock breadcrumb_links %}


{% macro render_field(field) %}
  {{ field.label }} {{ field(class='form__control', **kwargs)|safe }}
  {% if field.errors %}
    <ul class="error">
      {% for error in field.errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}


{% block content %}
  <h1>Add new SSH public key for {{ user['name'] }}</h1>

  <form method="POST" action="{{ url_for('main.add_key') }}">
    {{ form.csrf_token }}
    {{ render_field(form.label) }}
    {{ render_field(form.public_key) }}
    <input type="submit" value="Add" />
  </form>

{% endblock content %}
