# Virtualenv location given in README.md
/venv

# Python stuff
__pycache__
**.pyc

# Terraform stuff
**/.cache
**tfstate.backup
**/terraform/*tfstate**
**/terraform/terraform.tf

# App secrets
test/secrets.tar
test/id*
